* {
  padding: 5px;
}
body {
  padding: 20px;
}
.btn {
  margin: 5px;
  background-color: rgb(234, 234, 234);
  border: 1px solid #ccc;
  cursor: pointer;
}
.selected-drink {
  height: 50px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  border: 1px solid #ccc;
  background-color: rgb(240, 240, 240);
}
.select-options {
  margin-top: 5px;
  border: 1px solid #ccc;
  background-color: rgb(221, 245, 254);
}
.options-changed {
  margin-top: 5px;
  border: 1px solid #ccc;
  background-color: rgb(240, 240, 240);
}
.order-summary {
  margin-top: 5px;
  background-color: #fffaf0;
  border: 1px solid #d2b48c;
  border-radius: 8px;
}

hr {
  border-style: dashed;
}
.orderBtn {
  padding: 10px;
  margin-top: 10px;
  background-color: #d2b48c;
  border: 1px solid #d2b48c;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}
.order-history {
  margin-top: 10px;
  border: 1px solid #ccc;
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
}
.order-statistics {
  margin-top: 10px;
  border: 1px solid #8fbc8f;
  background-color: #e6ffe6;
  border-radius: 8px;
}
.stats-btn {
  margin-top: 10px;
  border: 1px solid #74be74;
  background-color: #74be74;
  color: white;
  border-radius: 3px;
  padding: 10px;
}
